[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
apache-airflow = {version = "==1.10.1rc2"}
google-api-python-client = "*"
pandas-gbq = "*"

[requires]
python_version = "3.5"
